<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/pl</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>
        <!--<property name="connection.url">jdbc:mysql://193.6.33.64:3306/jf0u1y</property>-->
        <!--<property name="hibernate.connection.username">jf0u1y</property>-->
        <!--<property name="hibernate.connection.password">oephaiqu</property>-->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Create the database scheme on startup -->
        <!--<property name="hbm2ddl.auto">create-drop</property>-->

        <!-- Model classes -->
        <mapping class="pl.model.User" />
        <mapping class="pl.model.Bank" />
        <mapping class="pl.model.Pocket" />
        <mapping class="pl.model.myCategory" />
        <mapping class="pl.model.Account" />
        <mapping class="pl.model.Login" />
        <mapping class="pl.model.Transaction" />
        <mapping class="pl.model.AccountTransaction" />
        <mapping class="pl.model.CashTransaction" />
        <mapping class="pl.model.TransactionType" />
        <mapping class="pl.model.Currency" />
        <mapping class="pl.model.ReadyCash" />
        <mapping class="pl.model.Property" />
        <mapping class="pl.model.Depriciation" />
        <mapping class="pl.model.Debit" />
        <mapping class="pl.model.PropertyValue" />

    </session-factory>
</hibernate-configuration>